body{
font-family: Arial;
background:#f4f6f9;
text-align:center;
}

.container{
width:400px;
margin:auto;
margin-top:100px;
background:white;
padding:30px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
width:90%;
padding:10px;
margin:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px 20px;
background:#007BFF;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

.nav{
background:#333;
padding:15px;
}

.nav a{
color:white;
margin:10px;
text-decoration:none;
}

table{
margin:auto;
border-collapse:collapse;
width:80%;
}

table,th,td{
border:1px solid #ddd;
padding:10px;
}