<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<div class="nav">
<a href="/logout">Logout</a>
</div>

<h2>Admin Dashboard</h2>

<h3>Registered Users</h3>

<table>

<tr>
<th>User ID</th>
<th>Name</th>
<th>Email</th>
<th>Address</th>
<th>Phone</th>
</tr>

{% for u in users %}

<tr>
<td>{{u[0]}}</td>
<td>{{u[1]}}</td>
<td>{{u[2]}}</td>
<td>{{u[4]}}</td>
<td>{{u[5]}}</td>
</tr>

{% endfor %}

</table>

<h3>Police Departments</h3>

<table>

<tr>
<th>Dept ID</th>
<th>Officer Name</th>
<th>Phone</th>
<th>Email</th>
</tr>

{% for d in departments %}

<tr>
<td>{{d[0]}}</td>
<td>{{d[1]}}</td>
<td>{{d[2]}}</td>
<td>{{d[3]}}</td>
</tr>

{% endfor %}

</table>

</body>
</html>