<!DOCTYPE html>
<html>
<head>
<title>Complaint</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<div class="container">

<h2>Submit Complaint</h2>

<form method="POST" enctype="multipart/form-data">

<textarea name="description" placeholder="Describe cyber crime" style="width:90%;height:100px;" required></textarea>

<br><br>

<select name="dept_id" required style="width:90%; padding:10px; border:1px solid #ccc; border-radius:5px;">
    <option value="">Select Department</option>
    {% for dept in departments %}
    <option value="{{ dept[0] }}">{{ dept[1] }} - {{ dept[3] }}</option>
    {% endfor %}
</select>

<br><br>

<input type="file" name="evidence" accept="image/*" style="width:90%;">

<br><br>

<button type="submit">Submit Complaint</button>

</form>

</div>

</body>
</html>